<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="{{ .GalleryPath }}default.css">
    <script src="{{ .GalleryPath }}default.js"></script>
</head>
<body>
    <div class="content">
        <div id="header">{{ .Name }}</div>
        <div id="directories">
            <a href="{{ .GalleryPath }}">🏠</a>{{ if .Navigation }}{{ range .Navigation }} &raquo; <a href="{{ $.GalleryPath }}{{.Path}}/">{{.Name}}</a>{{ end }}{{ end }}
        </div>
{{- if .Folders }}
            <div id="folders">
{{- range .Folders }}
                <span><a href="{{ . }}/"><img src="{{ $.GalleryPath}}folder.svg"><br />{{ . }}</a><br /></span>
{{- end }}
            </div>
{{- end }}
{{- if .Images }}
        <div class="gallery">
    {{- range .Images }}
            <a href="#{{ .File }}"><img src="thumb_{{ .File }}" alt="{{ .Description }}"><br /></a>
    {{- end }}
        </div>
{{- end }}
        <div id="footer">
            <p>&copy; {{ .Year }}{{ if .Copyright }} by {{ .Copyright }}{{end}}</p>
        </div>
    </div>
{{- if .Images }}
    <div id="lightbox_images">
    {{- range .Images }}
        <a href="#" class="lightbox" id="{{ .File }}"><span style="background-image:url('full_{{ .File }}')"></span></a>
    {{- end }}
    </div>
{{- end }}
</body>
</html>