:root {
    --column-gap: 0.5em;
    --column-width: 250px;

    --background-light: #EEEEEE;
    --background-dark: #191919;
    --text-light: #373A40;
    --text-dark: #ECDBBA;
    --anchor-light: #DC5F00;
    --anchor-dark: #C84B31;
    --metadata-light: #686D76;
    --metadata-dark: #2D4263;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }
    a {
        color: var(--anchor-dark);
    }
    .gallery img:hover {
        filter: brightness(80%);
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-light);
        color: var(--text-light);
    }
    a {
        color: var(--anchor-light);
    }
    .gallery img:hover {
        filter: brightness(120%);
    }
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

#header {
    margin-top: 20px;
    text-align: right;
    font-size: 200%;
    font-weight: bold;
    width: 90%;
}

#footer {
    text-align: center;
    width: 90%;
    margin-top: 20px;
    font-size: 80%;
}

#navigation {
    text-align: center;
    margin-bottom: 20px;
    font-size: 130%;
}

/* Rename this to #path ? */
#directories {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 110%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery {
    width: 90%;
    -webkit-column-width: var(--column-width);
    -moz-column-width: var(--column-width);
    column-width: var(--column-width);
    -webkit-column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
    text-align: center;
}
.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0.5em;
}

#folders {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    -webkit-column-width: var(--column-width);
    -moz-column-width: var(--column-width);
    column-width: var(--column-width);
    -webkit-column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
    text-align: center;
    margin-bottom: 2em;
}
#folders span {
    width: 200px;
    padding: 1em;
}

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.9);
}
/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}
.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
